iso8601>=0.1.5
Jinja2>=2.7.1
paramiko>=1.13.0             # py33 support
pbr>=0.5.21,<1.0
python-novaclient>=2.15.0    # py33 support
# pythonwhois with python 3.3 readiness patch
-e git://github.com/ziadsawalha/python-whois.git@17aa17c1c71805df1cb7fa053fe90b6dc9ba6d4b#egg=pythonwhois
six>=1.4.0
tldextract>=1.2
