# Includes fixes for handling egg-linked libraries
# and detection of stdlibs in virtualenvs
-e git://github.com/samstav/hacking.git@satori#egg=hacking

coverage>=3.6
discover
flake8_docstrings>=0.2.0      # patched for py33
fixtures>=0.3.14
freezegun
mock>=1.0
pep8>=1.5.7
pep257>=0.3.2                 # patched for py33
sphinx>=1.2.2
testrepository>=0.0.17
testtools>=0.9.32
