# pep8 with support for empty files through flake8
-e git://github.com/ziadsawalha/pep8.git@19b64e1d6b52cb814e482188369f4db24e0e82c2#egg=pep8-1.4.7a-dev

# pep257 tool with fix for updated PEP-257 and __all__ as a list
# Two PR pending to upstream
-e git://github.com/ziadsawalha/pep257.git@7752b1c9977e5dfca70f7635e5bfc12442c540a6#egg=pep257-0.3.0-dev

# PEP-257 plugin for flake8 with pending upstream change for support for latest pep257 tool
-e hg+https://bitbucket.org/ziadsawalha/flake8-docstrings@51864b0e7451bc0a43ab6fb0303e8a69961cb401#egg=flake8-docstring-0.1.5

# Latest hacking
-e git://github.com/ziadsawalha/hacking.git@59ff28fa13ed8ee818218988d4d88207d4c114d7#egg=hacking-dev


coverage>=3.6
discover
fixtures>=0.3.14
mock>=1.0
sphinx>=1.1.2,<1.2
testrepository>=0.0.17
testtools>=0.9.32
WebOb>=1.2.3,<1.3

Babel>=1.3
freezegun
