{% set found = data['found'] | default({}) %}
{% set resources = data['resources'] | default({'n/a': {}}) %}
{% set address = found['ip-address'] %}
{% set hostkey = found['host-key'] | default('n/a') %}
{% set domainkey = found['domain-key'] | default('n/a') %}
{% set server = resources[hostkey] | default(False) %}
{% set domain = resources[domainkey] | default(False) %}

{% if found['ip-address'] != target %}Address:
    {{ target }} resolves to IPv4 address {{ found['ip-address'] }}
{%- endif %}

{% if domain %}Domain: {{ domain.data.name }}
    Registrar: {{ domain.data.registrar }}
{% if domain.data.nameservers %}
    Nameservers: {% for nameserver in domain.data.nameservers %}{{nameserver}}{% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}
{% if domain.data.days_until_expires %}
    Expires: {{ domain.data.days_until_expires }} days
{% endif %}
{%- endif %}
{% if server and server.type == 'OS::Nova::Instance' %}
Host:
    {{ found['ip-address'] }} ({{ target }}) is hosted on a Nova instance
    Instance Information:
        URI: {{ server.data.uri }}
        Name: {{ server.data.name }}
        ID: {{ server.data.id }}
    ip-addresses:
{% for name, addresses in server.data.addresses.items() %}
        {{ name }}:
{% for address in addresses %}
            {{ address.addr }}
{% endfor %}
{% endfor %}
{% elif found['ip-address'] %}
Host:
    ip-address: {{ found['ip-address'] }}
{% else %}Host not found
{% endif %}

{% if server and server.data.system_info %}
Listening Services:
{% for remote in server.data.system_info.remote_services %}      {{ remote.ip }}:{{ remote.port }}  {{ remote.process }}
{% endfor %}
Talking to:
{% for address, ports in server.data.system_info.connections.items() %}      {{ address }}{% if ports %} on {% for port in ports %}{{port}}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}

{% endfor %}
{%- endif %}
